db.sqlite3
media/avatar
media/Educacion
media/catalog
media/oazip
media/profile
media/sourceFile
!media/img
!media/maplompad
migrations/
!migrations/__init__.py
# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

lvenv/