<!DOCTYPE html>
<html lang='en'>

<head>
    <meta charset='UTF-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <title>Document</title>
    <style>
        .h1 .h2 .h3 {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
        }
        .h1{
        margin-block-start: 1em;
        }
        .p {
            color: black !important;

        }

        .text-definition {
            margin: 2rem;
        }
    </style>
</head>

<body style="background:#4c566a1c;margin: 0 !important;">
    <div>
        <div style='background-color:#3B5B68 ;padding:7rem;font-family:arial; position: relative;'>
            <div class="body-ref" style="background: white; height:5em; position: absolute; top: 5em; width: 48em;
            left: 2em;
            right: 0;
            margin: 0 auto;
            height: 25em;
            ">
                <div class="text-definition">
                    <h1 style='text-align:center;'>Repositorio de Objetos de aprendizaje EduTech</h1>
                    <label for="">Estimado/a</label><strong> {NAME_USER}</strong>
                    <div
                        style='font-family:Arial;font-size:medium;margin-top:0.5rem;margin-bottom:1rem;border-bottom:1px solid gray;'>
                    </div>
                    <p>¡Grandes noticias! Terminaste con éxito el registro dentro del repositorio de Objetos de Aprendizaje - ROA.
                   Puedes revisar todos los objetos de aprendizaje que se encuentran
                   en nuestro repositorio y además interactuar
                    con nuestra aplicación de manera fácil y accesible.
                    Recuerda que puedes descargarte los objetos de aprendizaje y
                    puedes llevar a cabo su evolución.</p>

                    <label for="">Saludos</label>
                    <div class="footer" style="text-align: center;">
                        <a href="{HOST_ROA}" target="_blank">
                          <img src="https://repositorio.edutech-project.org/assets/img/image2vector.svg" style="width:6em; height: auto"
                            alt="Repositorio de objetos de aprendizaje EduTech">
                        </a>
                        <a href="{HOST_ROA}">
                            <h2 style="font-size: small; color: black;">Equipo del repositorio de objetos de aprendizaje EduTech</h2>
                        </a>
                        <h3 style=" color: black;font-size: small;">Gracias por preferirnos</h3>
                    </div>
                </div>

            </div>
        </div>
    </div>
</body>
</html>