<!DOCTYPE html>
<html lang='en'>

<head>
    <meta charset='UTF-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <title>Document</title>
    <style>
        .h1 .h2 .h3 {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
        }
        .h1{
        margin-block-start: 1em;
        }
        .p {
            color: black !important;
        }

        .text-definition {
            margin: 2rem;
        }
    </style>
</head>

<body style="background:#4c566a1c;margin: 0 !important;">
    <div>
        <div style='background-color:#3B5B68 ;padding:7rem;font-family:arial; position: relative;'>
            <div class="body-ref" style="background: white; height:5em; position: absolute; top: 5em; width: 48em;
            left: 2em;
            right: 0;
            margin: 0 auto;
            height: 25em;
            ">
                <div class="text-definition">
                    <h1 style='text-align:center;'>Repositorio de Objetos de aprendizaje (ROA) </h1>
                    <label for="">Estimado/a</label><strong> {NAME_USER}</strong>
                    <div
                        style='font-family:Arial;font-size:medium;margin-top:0.5rem;margin-bottom:1rem;border-bottom:1px solid gray;'>
                    </div>
                    <p>Está recibiendo este correo electrónico porque ha solicitado un cambio de contraseña en su cuenta personal.</p>
                    <div style="text-align-last: center;">
                        <a href="{URL}" style="    border-radius: 10px;
    background: #3B5B68;
    padding: 8px;
    color: white;
    text-decoration: none;">Cambiar contraseña</a>
                    </div>
                    <br>
                    <p style="font-size: 13px;">Si no ha solicitado una nueva contraseña, por favor ignore este mensaje. Su contraseña actual no se cambiará.</p>

                    <label for="">Saludos</label>
                    <div class="footer" style="text-align: center;">
                        <a href="https://roa.ups.edu.ec/" target="_blank">
                            <img src="https://roa.ups.edu.ec/assets/img/nuevoLogoRoa.png" style="width:6em; height: auto"
                            alt="Repositorio de objetos de aprendizaje ROA">
                        </a>
                        <a href="https://roa.ups.edu.ec/">
                            <h2 style="font-size: small; color: black;">Equipo ROA</h2>
                        </a>
                        <h3 style=" color: black;font-size: small;">Gracias por preferirnos</h3>
                    </div>
                </div>

            </div>
        </div>
    </div>
</body>
</html>